html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-attachment: fixed;
    letter-spacing: -1px;
}

/* Main first page items */
.main-container-top {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr auto 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". main-nav main-nav main-nav ."
        ". . . . ."
        "main-name main-name main-name main-name main-name"
        "main-desc main-desc main-desc main-desc main-desc"
        ". . . . ."
        ". main-links main-links main-links .";

}

.top-image {
    background-image: url("./2.jpg");
}

a.link:link, a.link:visited {
    text-decoration: none;
    color: white;
}

a.link:active {
    color: lightskyblue;
}

/* Top navigation items */
.main-navigation-con {
    grid-area: main-nav;
    justify-self: center;
    align-self: start;
}

.top-page-links-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.md-page-link {
    margin: 2%;
    font-size: 1.5em;
    font-color: white;
}


/* Name in the middle */
.main-name-con {
    grid-area: main-name;
    justify-self: center;
    align-self: end;
}

.main-name {
    display: inline;
    font-size: 13em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

/* Description directly under the name */
.main-description-con {
    grid-area: main-desc;
    grid-gap: 0;
    border-top: 1px solid lightgray;
    justify-self: center;
    align-self: start;
    text-align: center;
}

.main-md-desc {
    display: inline;
    font-size: 3em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* Main links */
.main-social-links-con {
    grid-area: main-links;
    align-self: end;
}

.s-social-links-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.s-social-link {
    margin: 5%;
    color: white;
    font-size: 3em;
}

@media only screen and (max-width: 768px) {
    .md-page-link {
        font-size: 2em;
    }

    .main-name {
        font-size: 5em;
        -webkit-text-stroke-width: 1px;
    }

    .main-description-con {
        margin: 10px;
    }

    .main-md-desc {
        font-size: 2.5em;
    }

    .main-social-links-con {
        align-self: start;
    }
}

@media only screen and (min-width: 769, max-width: 920px) {
    .main-name {
        font-size: 10em;
        -webkit-text-stroke-width: 1px;
    }  

    .main-social-links-con {
        align-self: start;
    } 
}