html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-attachment: fixed;
    letter-spacing: -1px;
}

/* Main first page items */
.main-container-top {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr auto 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". main-nav main-nav main-nav ."
        ". . . . ."
        "main-name main-name main-name main-name main-name"
        "main-desc main-desc main-desc main-desc main-desc"
        ". . . . ."
        ". main-links main-links main-links .";

}

.top-image {
    background-image: url("./2.jpg");
}

a.link:link, a.link:visited {
    text-decoration: none;
    color: white;
}

a.link:active {
    color: lightskyblue;
}

/* Top navigation items */
.main-navigation-con {
    grid-area: main-nav;
    justify-self: center;
    align-self: start;
}

.top-page-links-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.md-page-link {
    margin: 2%;
    font-size: 1.5em;
    font-color: white;
}


/* Name in the middle */
.main-name-con {
    grid-area: main-name;
    justify-self: center;
    align-self: end;
}

.main-name {
    display: inline;
    font-size: 13em;
    -webkit-text-fill-color: #FEFEFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FEFEFF;
}

/* Description directly under the name */
.main-description-con {
    grid-area: main-desc;
    grid-gap: 0;
    border-top: 1px solid lightgray;
    justify-self: center;
    align-self: start;
    text-align: center;
}

.main-md-desc {
    display: inline;
    font-size: 3em;
    -webkit-text-fill-color: #FEFEFF;
}

/* Main links */
.main-social-links-con {
    grid-area: main-links;
    align-self: end;
}

.s-social-links-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.s-social-link {
    margin: 5%;
    color: #FEFEFF;
    font-size: 3em;
}

/* Start of classes in article */

.mid-section {
    background-color: #FEFEFF;
}

.top-text {
    padding-top: 10vh;
    padding-bottom: 3vh;
}

.top-text-skills {
    margin: 0;
    font-size: 6em;
    -webkit-text-fill-color: #0E1116;
}

/* Skill boxes done in grid */
.skills-container {
    height: auto;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
}

/* Each box contains an image/icon; 
h3 text with title and p with description*/
.skill-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #A7A8AA;
    border-radius: 7px;
    align-items: center;
    padding: 10px;
    background-color: #FEFEFF;
    box-shadow: 5px 5px 10px #A7A8AA;
}

.skill-image {
    color: black;
    font-size: 4em;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

.uneven-skill-box-1 {
    padding: 15;
}

.uneven-skill-box-2 {
    padding-right: 15px;
    padding-left: 15px;
}

.skill-title {
    display: inline;
    margin-top: 2%;
    margin-bottom: 0px;
    border-top: 1px solid #FEFEFF;
    font-size: 3em;
    font-weight: 750;
    -webkit-text-fill-color: #393C40;
}

.skill-description {
    align-self: flex-end;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    -webkit-text-fill-color: #A7A8AA;
}

/* About Me section */
.about-me {
    background-color: #D0D0D1;
}

.mid-text {
    padding-top: 7vh;
    padding-bottom: 3vh;
}

.mid-text-about-me {
    margin: 0;
    font-size: 6em;
    -webkit-text-fill-color: #0E1116;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5em;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-bottom: 5vh;
}

.profile-image {
    justify-self: center;
    align-self: center;
}

.profile-img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.profile-description {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    -webkit-text-fill-color: black;
    text-align: left;
}

/* Contact Form */
.bottom-section {
    background-color: #A2A2A3;
}

.contact-text {
    padding-top: 7vh;
    padding-bottom: 3vh;
}

.contact-title {
    margin: 0;
    font-size: 6em;
    -webkit-text-fill-color: #0E1116;
}

.contact-container {
    padding-bottom: 3vw;
}

.contact-me {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-gap: 1em;
    margin-left: 35vw;
    margin-right: 35vw;
    padding-bottom: 3vw;
}

.copyright-footer {
    background-color: #181818;
}

.copyright-text {
    padding-top: 7vh;
    padding-bottom: 3vh;
}

.copyright-title {
    margin: 0;
    font-size: 2em;
    -webkit-text-fill-color: #FEFEFF;
}

@media only screen and (max-width: 1600px) {
    .profile-container {
        margin-left: 27vw;
        margin-right: 27vw;
    }

    .contact-me {
        margin-left: 30vw;
        margin-right: 30vw;
    }
} 

@media only screen and (max-width: 1400px) {
    .profile-container {
        margin-left: 25vw;
        margin-right: 25vw;
    }

    .contact-me {
        margin-left: 27vw;
        margin-right: 27vw;
    }
}

@media only screen and (max-width: 1300px) {
    .skills-container {
        height: auto;
        margin-left: 17vw;
        margin-right: 17vw;   
    }

    .profile-container {
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .contact-me {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}

@media only screen and (max-width: 1250px) {
    .skills-container {
        height: auto;
        margin-left: 15vw;
        margin-right: 15vw;   
    }   

    .profile-container {
        margin-left: 17vw;
        margin-right: 17vw;
    }

    .contact-me {
        margin-left: 22vw;
        margin-right: 22vw;
    }
}

@media only screen and (max-width: 1201px) {
    .skills-container {
        height: auto;
        margin-left: 25vw;
        margin-right: 25vw;
        grid-template-columns: 1fr;
        grid-gap: 3em;
    }

    .profile-container {
        margin-left: 14vw;
        margin-right: 14vw;
    }

    .contact-me {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

@media only screen and (max-width: 940px) {
    .main-name {
        font-size: 10em;
        -webkit-text-stroke-width: 1px;
    }  

    .main-social-links-con {
        align-self: start;
    } 

    .skills-container {
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .profile-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    .profile-description {
        text-align: center;
    }

    .contact-me {
        margin-left: 17vw;
        margin-right: 17vw;
    }
}

@media only screen and (max-width: 768px) {
    .md-page-link {
        font-size: 2em;
    }

    .main-name {
        font-size: 5em;
        -webkit-text-stroke-width: 1px;
    }

    .main-description-con {
        margin: 10px;
    }

    .main-md-desc {
        font-size: 2.5em;
    }

    .main-social-links-con {
        align-self: start;
    }

    .skills-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .profile-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .profile-description {
        text-align: center;
    }

    .contact-me {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}